h1 {
    color:orangered;
    font-family:'Bauhaus 93';
    font-size: 50px;
    margin: 30px;
    }

    /*img{
        height;
        width:;
        margin;
        display;
    }*/

      
    .squareText--active{
    font-size:20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: red; 
    margin:5px;
    padding:0;
    border-radius: 5px;
    box-sizing: border-box;
    width: 12cm; 
    height: 8cm;
    }

/*Mostramos Cuadro de resultados*/
/*.squareExit{
    background: white ;
    font-size:20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:green; 
    margin: 5px;
    padding:0;
    border-radius: 3px;
    box-sizing: border-box;
    width: 12cm; height: 8cm;
    border: grey;
    }*/


